{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</head>
<body>
    <header>
        <div>My Book Reviews</div>
        <Nav><a href="create.html">Create a Review</a></Nav>
    </header>
    <main>
        {% for review in reviews %}
  <div class="main-page-book-review">
    <img class="book-cover" src="{{ review.cover_image }}">
    <h2 class="book-title">
      <a href="detail.html">{{ review.title }}</a>
    </h2>
    <div class="book-rating">{{ review.rating }} stars</div>
    <div class="book-authors">
      {{ review.authors }}
    </div>
    <h3>Summary</h3>
    <p>
      {{ review.summary }}
    </p>
  </div>
{% endfor %}
</div>
    
    
    </main>
    <footer>
        <div>Copyright 2022 by Boden</div>
        <p>This is a site that conains book reviews to help you choose books to read</p>
    </footer>
</body>
</html>